
  <% while @contador <= 50%>
    <% @contador += 1%>
    <%if @contador % 2 == 0%>
      <h1> <%=@contador%>  Soy par!</h1>
     <% else%>
        <h1> <%=@contador%>  Soy impar!</h1>
    <%end%>
  <%end%>
